{
  "extends": [
    "adidas-env/module",
    "adidas-env/node",
    "adidas-env/browser",
    "adidas-babel",
    "adidas-vue",
    "adidas-es9"
  ],
  "rules": {
    "require-jsdoc": "off",
    "prefer-destructuring": "off",
    "vue/no-v-html": "off"
  }
}
