dist: trusty
language: node_js
node_js:
- "10"

install:
- npm install

script:
- npm run lint
- npm run test
- npm run build

deploy:
  provider: pages
  local-dir: ./dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  target-branch: master
  on:
    branch: develop
