@import '~@adidas/yarn-design-system/src/scss/variables/main';

$background-color: #000;

$min-width: 22em;
$max-width: 120em;

$grid-item-margin: 1em;
$grid-item-size: 12.5em;
$grid-item-max-size: 20em;

$breakpoint-2-col: 36em;
$breakpoint-3-col: 50em;
$breakpoint-4-col: 58em;

$sidebar-z-index: 100;
