@import 'vars';

.hljs {
  $background-color: lighten($primary-lightgray, 5);
  $base-color: $primary-nickel;
  $hue-1: $blue-100;
  $hue-2: $dark-blue-100;
  $hue-3: $pink-100;
  $hue-4: $green-100;
  $hue-5: $orange-100;
  $hue-5-2: $light-blue-100;
  $hue-6: $orange-80;
  $hue-6-2: $orange-60;
  $hue-7: $primary-darkgray;

  background-color: $background-color !important;
  color: $base-color;
  padding: $padding-base-vertical;
  display: block;
  overflow-x: auto;

  .hljs-literal,
  .hljs-string {
    color: $hue-1;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: $hue-2;
  }

  .hljs-attr,
  .hljs-doctag,
  .hljs-formula,
  .hljs-keyword {
    color: $hue-3;
  }

  .hljs-addition,
  .hljs-attribute,
  .hljs-comment,
  .hljs-meta-string,
  .hljs-regexp {
    color: $hue-4;
  }

  .hljs-section,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: $hue-5;
  }

  .hljs-tag {
    color: $hue-5-2;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: $hue-6;
  }

  .hljs-built_in,
  .hljs-class .hljs-title {
    color: $hue-6-2;
  }

  .hljs-quote {
    color: $hue-7;
  }

  .hljs-comment,
  .hljs-quote,
  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
