@import 'vars';
@import 'mixins';

.document {
  min-height: 80vh;
  background-color: $primary-white;
  text-align: justify;
  padding: 5em 0;

  @include md-screen-padding();
  @include lg-screen-padding();

  @media (max-width: $screen-md) {
    padding: 5em;
  }

  @media (max-width: $screen-xs) {
    padding: 2.5em;
  }
}
