@font-face {
  font-family: 'yarn-heading';
  font-weight: lighter;
  font-style: normal;
  src: url(~branding-resources/fonts/adineue-pro-tt-light/adineue-pro-tt-light.woff) format('woff');
  text-transform: uppercase;
}

@font-face {
  font-family: 'yarn-heading';
  font-weight: bold;
  font-style: normal;
  src: url(~branding-resources/fonts/adineue-pro-tt-black/adineue-pro-tt-black.woff) format('woff');
  text-transform: uppercase;
}

@font-face {
  font-family: 'yarn-base';
  font-weight: lighter;
  font-style: normal;
  src: url(~branding-resources/fonts/adihaus-din-regular/adihaus-din-regular.woff) format('woff');
}

@font-face {
  font-family: 'yarn-base';
  font-weight: lighter;
  font-style: italic;
  src: url(~branding-resources/fonts/adihaus-din-regular-italic/adihaus-din-regular-italic.woff) format('woff');
}

@font-face {
  font-family: 'yarn-base';
  font-weight: normal;
  font-style: normal;
  src: url(~branding-resources/fonts/adihaus-din-medium/adihaus-din-medium.woff) format('woff');
}

@font-face {
  font-family: 'yarn-base';
  font-weight: bold;
  font-style: normal;
  src: url(~branding-resources/fonts/adihaus-din-bold/adihaus-din-bold.woff) format('woff');
}
