@font-face {
  font-family: 'yarn-heading';
  src: local('adineuePROTT Light'), local('adineuePROTT-Light'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-light/adineue-pro-tt-light.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-light/adineue-pro-tt-light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'yarn-heading';
  src: local('adineuePROTT LightItalic'), local('adineuePROTT-LightItalic'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-light-italic/adineue-pro-tt-light-italic.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-light-italic/adineue-pro-tt-light-italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'yarn-heading';
  src: local('adineuePROTT Black'), local('adineuePROTT-Black'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-black/adineue-pro-tt-black.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-black/adineue-pro-tt-black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'yarn-heading';
  src: local('adineuePROTT BlackItalic'), local('adineuePROTT-BlackItalic'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-black-italic/adineue-pro-tt-black-italic.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adineue-pro-tt-black-italic/adineue-pro-tt-black-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN Regular'), local('AdihausDIN-Regular'),
    url('~@adidas/branding-resources/fonts/adihaus-din-regular/adihaus-din-regular.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-regular/adihaus-din-regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN Italic'), local('AdihausDIN-Italic'),
    url('~@adidas/branding-resources/fonts/adihaus-din-regular-italic/adihaus-din-regular-italic.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-regular-italic/adihaus-din-regular-italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN Medium'), local('AdihausDIN-Medium'),
    url('~@adidas/branding-resources/fonts/adihaus-din-medium/adihaus-din-medium.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-medium/adihaus-din-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN MediumItalic'), local('AdihausDIN-MediumItalic'),
    url('~@adidas/branding-resources/fonts/adihaus-din-medium-italic/adihaus-din-medium-italic.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-medium-italic/adihaus-din-medium-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN Bold'), local('AdihausDIN-Bold'),
    url('~@adidas/branding-resources/fonts/adihaus-din-bold/adihaus-din-bold.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-bold/adihaus-din-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'yarn-base';
  src: local('AdihausDIN BoldItalic'), local('AdihausDIN-BoldItalic'),
    url('~@adidas/branding-resources/fonts/adihaus-din-bold-italic/adihaus-din-bold-italic.woff2') format('woff2'),
    url('~@adidas/branding-resources/fonts/adihaus-din-bold-italic/adihaus-din-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
